<div class="jumbotron">
  <h1>Here we will teach you</h1>
  <div>
    <ul>
      <li>
        <p>Software test automation for mobile and web apps techniques</p>
      </li>
      <li>
        <p>The importance of TDD and pair programming</p>
      </li>
      <li>
        <p>How to measure test code coverage</p>
      </li>
      <li>
        <p>And how to automate test jobs</p>
      </li>
      <li>
        <p>Beyond more generic things, like good practices for working in remote teams.</p>
      </li>
    </ul>
  </div>
</div>
